/* add custom css here */
.md-main__inner{padding-bottom: 3em}
.page-intro{font-size:1.3em;line-height:1.7;}
.highlighttable td pre {line-height: 1.9;}
.md-tabs__item{font-weight: bold}

table {padding: 0;}
table tr {margin: 0;padding: 0; }
table tr th {font-weight: bold; margin: 0;padding: 6px 13px; }
table tr td { margin: 0;padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {margin-top: 0; }
table tr th :last-child, table tr td :last-child {margin-bottom: 0; }

.md-typeset table:not([class]){
    font-size: .68rem;
    box-shadow: none;
    background: var(--md-code-bg-color);
}
.md-typeset code{
    padding: 3px .35em;
}
.md-typeset table:not([class]) code {
    font-size: .70rem;
}
.md-typeset table:not([class]) tr:hover{
    transition: none;
    background-color: transparent;
    box-shadow: none;
}
.admonition > p{
    font-size: 115%;
}
.admonition > p:not(first-child){
    line-height: 1.8;
}
p code{
    white-space: nowrap;
}
